proyecto/STM32F401RETX_FLASH.ld
proyecto/STM32F401RETX_RAM.ld
proyecto/.settings/
proyecto/.settings/language.settings.xml
proyecto/Debug/
proyecto/proyec Debug.launch
proyecto/.cproject
proyecto/.mxproject
proyecto/.project
